body {
    width: 100%;
    height: 40vh;
    background-size: 200% 200%;
    background-image: repeating-linear-gradient(
		-45deg, #000000, #5e0505, #05011a, #071d83
	);
    animation: diagonal alternate 4s infinite;
}

@keyframes diagonal {
    0% {background-position: 0% 50%}
    100% {background-position: 100% 50%}
}

