body{
    /* background-color: #485461;
background-image: linear-gradient(315deg, #245588 0%, #061525 74%); */

margin: 0 !important;;
padding: 0 !important;
box-sizing: none !important;


  
}
body::-webkit-scrollbar {
    display: none;
  }

.pic {
    height: 100px;
}

.link-portfolio{

font-size:  50px!important;
margin-bottom: 50px!important
}

.br{
    font-size: 20px!important;
}

/* .abstand {
    margin: 5000px!important;
} */

/* img:hover {
  
    border:2px solid #fff;
    
    box-shadow:  5px -5px 10px #ccc;
    -moz-box-shadow: 5px -5px 10px  #ccc;
    -webkit-box-shadow: 5px -5px 10px  #ccc;
    -khtml-box-shadow: 5px -5px  10px #ccc;
  } */
.card {
    background-color: rgb(0, 0, 0)!important
}

.card-image {
    height: 50rem
}
.portfolio{
    color:rgb(24, 22, 22) !important;
}

.typo{
    color:rgb(36, 139, 170)!
}

/* .project-description{
    margin-left: 80px!important;
    display: flex!important;
    flex-direction: column!important;
    color:white !important;
    justify-content: center!important;
} */
/* .project{
 
    /* border-right: 200px solid rgb(243, 234, 234)!important;
     border-left: 200px solid rgb(243, 234, 234)!important; */
     /* border-bottom: 10px solid rgb(243, 234, 234)!important;
    color:white !important; */

  




.btn{
    /* color: white !important;; */
    font-size: 2rem !important;
    background-color:rgb(40, 43, 43)!important;
}
.btn:hover{
    color: rgb(253, 253, 253)!important;
}

.project-image{
    width: 500px!important;
}


    .typo{
        font-size:2rem!important;
    }
    /* .project-image{
        width: 3000px!important;
        display: flex!important;
        flex-direction: row!important;
        justify-content: center!important;
        align-items: center!important;
        margin-left: 30px!important;
    } */

  
    .fadein{
        opacity: 1!important;
    }
   
  

  /* .container{
      
      padding-bottom: 200px;
    
  } */

  /* .abstand{
      height: 20px!important;
      background-color:aquamarine;
  } */

  .container {
    padding:50px;
    border-bottom:0px solid rgba(255, 255, 255, 0.993);
    border-top:5px solid rgba(9, 58, 122, 0.144);
    /* border-left:25px solid rgba(255, 255, 255, 0.993);
    border-right:25px solid rgba(255, 255, 255, 0.993); */
    
    
    box-shadow: -4px -11px 91px 27px rgba(0,0,0,0.58) inset;
    -webkit-box-shadow: -4px -11px 91px 27px rgba(0,0,0,0.58) inset;
    -moz-box-shadow: -4px -11px 91px 27px rgba(0,0,0,0.58) inset;
}

.card:hover{
    background:rgb(255, 255, 255)!important;
    opacity: 0.9;
    /* transition-delay:.1s; */
}

.card{
    width: 80%!important;
    background-color: rgba(240, 248, 255, 0.062)!important;
}
  
.image {
    border-radius: 5%!important;
  }


